<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750073304127-pnv06rcke0o2c7it8813bjespl5png68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750073304127-pnv06rcke0o2c7it8813bjespl5png68</string>
	<key>API_KEY</key>
	<string>AIzaSyCYwFie8BSt0LBmtid6pb6hLlLQqYDwGiU</string>
	<key>GCM_SENDER_ID</key>
	<string>750073304127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dads-project-sugesstions.cardTestApp</string>
	<key>PROJECT_ID</key>
	<string>flash-memory-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-memory-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:750073304127:ios:0065c67b24a24c1bc3548a</string>
</dict>
</plist>
